*{
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
	/*background-color: #24252A*/
	background-color: #BFBFBD
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1% 1%;
}

.logo{
	width: 5%;
	height: auto;
}

nav ul{
	list-style: none;
}

nav ul li{
	display: inline-block;
	padding: 0px 20px;


}

nav ul li a{
	transition: all 0.3s ease 0s;
}

nav ul li a:hoover{
	color: red;
}

button{
	padding: 9px 25px;
	background-color: rgb(255, 51, 0); 
	border: none;
	border-radius: 50px;
}

h1{
	font-size: 50;
	text-align: center;
	padding: 50px;
}

.cent{
	display: flex;
	justify-content: center;
}

input{
	display: flex;
	width: 30%;
	border-radius: 25px;
	border: none;
	padding: 25px;
	background-color: rgb(255, 51, 0);
	text-align: center;
	color: white;
}

.ceent{
	padding: 25px;
	display: flex;
	justify-content: center;
}

textarea{
	display: flex;
	width: 30%;
	border-radius: 25px;
	border: none;
	padding: 25px;
	background-color: rgb(255, 51, 0);
	text-align: center;
	color: white;
}